body {
  color:  #414141;              /* Dark gray */
  background-color: #dfdfdf;    /* Less dark gray */
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: left;
}

* {
  margin: 0px;
  padding: 0px;
  /* --box-sizing: border-box; */
}

h1 {
  font-family: "Georgia", "Cambria", serif;
  font-weight: normal;
  color:  #8d8d8d;              /* Dark gray */
  font-size: 2em;
  text-align: left;
  padding-left: 30px;
}

h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  color:  #a1a1a1;
  font-size: 0.8em;
  text-align: left;
  padding-left: 75px;
}

h3{
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: left;
}

p{
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

ul {
  list-style-type: none;
  text-align: left;
  font-size: 0.8em;
}

ul li:before {
		 content: "\2023 \0020";
     color: #ffb6c1
	     }

div {
  color: #414141;
  background-color: #fefefe;    /* Light gray - almost white */
  padding: 8px;
  text-align: center;
  border: 2px solid #fefefe;
  border-radius: 15px;
  width: 800px;
  box-sizing: border-box;
  margin: 6px 7px;
  box-shadow: 0 10px 6px -6px #777;
}

.zenheader {
  color: #FFF;
  background-color: #ffb6c1;
  padding: 50px;
  text-align: center;
  border: 2px solid #FFF;
  border-radius: 5px;
  width: 100%;
  margin:1px;
  background-image: url('images/background_title.png');
  background-size: 900px;
}

.lateral {
  width: 26%;
  float: left;
}

.article {
  width: 70%;
  float: right;
}
.dots{
  border-top: dotted 1px;
  margin-top: 10px;
  margin-bottom: 3px
}

.title{
  color: #fc2bba
}

.first{
  padding-left: 10%;
}
.road{
  padding-right: 10%;
}
.about{
  padding-left: 10%;
}
.participation{
  padding-right: 10%;
}
.benefits{
  padding-left: 10%;
}

.link{
  color: #fc2bba
}

.design{
  font-weight: bold;
}

.strong{
  font-weight: bold;
}

.space{
  background-color: #dfdfdf;    /* Less dark gray */
  text-align: center;
  border: 0px;
  border-radius: 0px;
  width: 800px;
  box-sizing: border-box;
  margin: 6px 7px;
  box-shadow: none;

}

.page{
  text-align: center;
  border: 0px;
  border-radius: 0px;
  width: 800px;
  box-sizing: border-box;
  margin: 6px 7px;
}
